* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(24, 18, 139) 0%, rgb(19, 19, 203) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
}

#center-box {
    text-align: center;
}

.sub-box {
    margin: 20px 0;
    z-index: 2;
}

.title {
    font-size: 42px;
    font-weight: 600;
    color: white;
}

.input-box {
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
}

.submit-btn {
    padding: 8px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

canvas {
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.718);
    border-radius: 5px;
    margin: 10px auto;
}
